.fondoNegro {
  background-color: black;
}

.letraNaranja {
  color: orange;
}

table {
  border-collapse: collapse;
}

.borderTop {
  border-top: 1px solid black;
}

.borderBottom {
  border-bottom: 1px solid black;
}

.filaPar {
  background-color: lightgrey;
}